In [ ]:
# sum the elements of list
# Sol 1
l = [2,4,5,6]

# Total no elements print("len is ",len(l))
#sum(l)

# Sol 2

total =0
for i in l:
    total = total + i
    
print(total)

In [8]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

In [71]:
# most frequent appear item in Array
# use of for loop to count the frequency of each element. 
#If the current frequency is greater than the previous frequency, update the counter and store the element.

Input2 = ['Dog', 'Cat', 'Dog','fish','','']  

def emptyremoval(list):
 
 while("" in list): 
    list.remove("")
 return list

def most_often(list):
    list = emptyremoval(list)
    if len(list) == 0:
        return 0
    
    most_frequent=0
    counter =0
        
    for i in list:
            curr_frequency = list.count(i) 
            if counter < curr_frequency:
               counter = curr_frequency
               most_frequent=i
                       
    return most_frequent

Input = [2, 1, 2, 2, 5 ,5,5,4,4,4,4] 
Input1=[]
print(most_often(Input1))

0

In [68]:
# Find min and max and min element in list

def findmax(list):
    max = 0
    for i in list:
        if i > max:
            max =i
    
    return max

def findmin(list):
    min = list[0]
    for i in list:
        if i < min:
            min =i
    
    return min


input =[3,2,4,10]
print(findmax(input))
print(findmin(input))

10
2

In [82]:
# Find Common elements in two list's
# approch convert the list to set then print it
# Implement your function below.
def common_elements(list1, list2):
    result = set(list1).intersection(list2)
    return list(result)


# NOTE: The following input values will be used for testing your solution.
list_a1 = [1, 3, 4, 6, 7, 9]
list_a2 = [1, 2, 4, 5, 9, 10]
# common_elements(list_a1, list_a2) should return [1, 4, 9] (a list).

list_b1 = [1, 2, 9, 10, 11, 12]
list_b2 = [0, 1, 2, 3, 4, 5, 8, 9, 10, 12, 14, 15]
# common_elements(list_b1, list_b2) should return [1, 2, 9, 10, 12] (a list).

list_c1 = [0, 1, 2, 3, 4, 5]
list_c2 = [6, 7, 8, 9, 10, 11]
# common_elements(list_b1, list_b2) should return [] (an empty list).
common_elements(list_c1,list_c2)

[]

In [1]:
## Reverse the string
def rev_string (str):
    output = str[::-1]
    return output
    
rev_string("coder")

'redoc'

In [9]:
# Check is string is palindrom

def ispalindrom(str):
    output = str[::-1]
    if(output==str):
        return True
    else:
        return False
    
print(ispalindrom("malayalam"))

None

In [91]:
## Find longest and shorted word 
def longest(l):
    longest=''
    lenght =0 
    for i in l:
        if len(i) > lenght:
            longest = i
            
    return longest

l1 = ["cat","dog","Tree","elements"]
longest(l1)

'elements'

In [92]:
# Sorting elements in reverse order
# List of Integers 
numbers = [1, 3, 4, 2] 
  
# Sorting list of Integers 
numbers.sort(reverse=True) 
print(numbers)

[4, 3, 2, 1]

In [102]:
# check if array is rotational to each other

def check(l1,l2):
    if len(l1) != len(l2):
        return False
    
    check = False
    
    for i in l1:
        if i in l2:
            check = True
        else:
            check = False
            break
    return check
    

    
l1 =[1,2,3,4,5,6,7]
l2 =[4,6,5,7,1,2,3]

check(l1,l2)

True

In [37]:
A = ['ram','shiv','ajay']
B= [10,20,15]
dictionary = dict(zip(A,B))
dictionary

{'ram': 10, 'shiv': 20, 'ajay': 15}

In [114]:
# non repeating characters in string:
def nonrepeatingchar(str):
    result =[]
    counter = 1
    for i in str:
        count = str.count(i)
        if count == counter:
            result.append(i)
            
    return result
            
nonrepeatingchar("HelloH")

['e', 'o']

In [6]:
# find 1 
# removing the duplicate character from string keeping only 1st character

def dup(str):
    target = set(str)
    return ''.join(target)

print(dup("google"))

lgeo

In [10]:
# print only the unique char in given string

def uniqueChar(str):
    
    for i in str:
        count = 1
        tmp = str.count(i)
        if (tmp == count):
            print(i)
        

uniqueChar("aabbc")

c

In [3]:
#Count pairs with given sum
#Given an array of integers, and a number ‘sum’, find the number of pairs of integers in the array whose sum is equal to ‘sum’.

def getpairCount(arr,target):
    count =0
    pairCount =0
    for i in arr:
        if (i + count == target):
            pairCount = pairCount+1
        else:
            count = i

    return pairCount

arr = [1, 5, 7, -1, 5,3,3]
target= 6

getpairCount(arr,target)

3

In [4]:
# Anagram check Input : s1 = "listen"        s2 = "silent"
#Output : The strings are anagrams.

def anagramcheck(s1,s2):
    
    output = 'False'
    s1 = s1.lower()
    s2 = s2.lower()
     
    for i in s1:
        if (i in s2):
          output = 'True'
        else:
          output = 'False'
    
    return output

print(anagramcheck("GOD","dog"))

True

In [5]:
# remove spaces in string
s = "hell  o"
s.replace("  ",'')

'hello'

In [12]:
# Reverse the sentence
# input "this is the best" output "best the is this"
def revword(s):
       return " ".join(s.split()[::-1])


revword('this is the best')

'best the is this'

In [11]:
s = 'this is the best'
l = s.split()
print(s[::-1])

for item in l[:-1] :
     print(item)

tseb eht si siht
this
is
the

In [1]:
#String compression AAAABBBCCCC return A4B3C3 word with their occurance count

def compress(s):
    
    l =[]
    out =[]
    
    for i in s:
        if i not in l:
            occ = s.count(i)
            l.append(i)
            value = i+str(occ)
            out.append(str(value))
        
    return ''.join(out)
      
compress('AAAABBBCCCC')

'A6B3C4'

In [16]:
# Check if string contains unique characters:


def uniqCheck(s):
    s1 = set(s)
    if (len(s)==len(s1)):
        return True
    else:
        return False
    
uniqCheck("abcded")

False

In [23]:
#Creating dict mutable object

info = {'A':1,'b':2,'c':3}
print(info['A'])


# convery key value pair to dict

d = dict(RON=1,BOB=2,SAM=3,A=10)
d.items()
d.values()
d.keys()
# iterating the dict
for i,j in d.items():
    print(i , j)
    
# merge two dict

m = {**info , **d}
print(m)

## or

info.update(d)
print(info)
info.clear()

1
RON 1
BOB 2
SAM 3
A 10
{'A': 10, 'b': 2, 'c': 3, 'RON': 1, 'BOB': 2, 'SAM': 3}
{'A': 10, 'b': 2, 'c': 3, 'RON': 1, 'BOB': 2, 'SAM': 3}

In [36]:
import pandas as pd

#print(pd.__version__)

l = [1,3,10,30]
df =pd.Series(l)

d = {'name':['sam','bob','ram'], 'salary':[100,200,150]}
df1 = pd.DataFrame(d)
df1

  name  salary
0  sam     100
1  bob     200
2  ram     150

In [10]:
a = 'A'
b = 1
c = a + str(b)
print(c)

A1

In [15]:
a = 10
b = 3
a//b

3

In [16]:
## Print following tuples in reverse order
tuple_1 = (22, 65, 12, 54)

print(tuple_1[::-1])

(54, 12, 65, 22)

In [17]:
#Access the name 'David' from the list given below.

myList = [(2, 14, 'David'), [2, 7], 'Shaun']
print(myList[0][2])

David

In [37]:
#We have a set and a dictionary given below. Print the set once again after adding the keys of the dictionary to the set. 
#The order of the expected output may vary as it is a set.

mySet = {2, 4, 6}

myDict = {'A':'John', 'B':'Emma', 'C':'Sam'}

for i in myDict.keys():
    mySet.add(i)

print(mySet)


## Another sol

#mySet.update(myDict.keys())
#print(mySet)

{'A', 2, 4, 6, 'B', 'C'}

In [55]:
#We have two sets given below. Print all the items from these sets after removing the duplicates.

set_1 = {2, 4, 6, 8}
set_2 = {6, 8, 10, 12}

final_set =set()

for i in set_1:
    if i not in final_set:
        final_set.add(i)

for i in set_2:
    if i not in final_set:
        final_set.add(i)
        
print(final_set)

{2, 4, 6, 8, 10, 12}

In [39]:
## another solution We have two sets given below. Print all the items from these sets after removing the duplicates.

set_1 = {2, 4, 6, 8}
set_2 = {6, 8, 10, 12}

print(set_1.union(set_2))

{2, 4, 6, 8, 10, 12}

In [40]:
# Write a Python program to print the first and the last second of the day.

import datetime

print("First Second: ", datetime.time.min)
print("Last Second: ", datetime.time.max)

First Second:  00:00:00
Last Second:  23:59:59.999999

In [43]:
# Print the total number of digits in the number given below.

num = 8842
total=0

for i in str(num):
    total = total+1
    
print(total)

## Another solution

s1= str(num)
print(len(s1))

4
4

In [7]:
#We have a list of lists that contains several numbers.
#I want you to print the list whose sum of elements is the highest and also the lowest.

num_list = [[2, 8, 11], [4, 5, 7, 12], [8, 9, 10, 11], [19, 13, 7], [2, 5, 16]]

fl =[]
fs =0

for i in num_list:
    tmp = i
    s1 = 0
    for t in tmp:
        s1 = t+s1
    
    if s1 > fs:
        fs = s1
        fl = tmp
        
print(fl)
print(fs)

[19, 13, 7]
39

In [8]:
#We have a string that contains the names of different fruits. 
#I want you to convert this string into multiple substrings where each substring includes one fruit's name.

fruits_string = " Apple, Banana, Mango, Kiwi, Guava, Grapes, Pomegranate, Orange, Watermelon"

fruits = fruits_string.split(",")

for i in fruits:
    print(i)

 Apple
 Banana
 Mango
 Kiwi
 Guava
 Grapes
 Pomegranate
 Orange
 Watermelon

In [61]:
#Write a program to reverse words in a string.

sample_text = "Python is a high-level and general-purpose programming language"
s1 = sample_text.split(' ')

print(s1[::-1])

['language', 'programming', 'general-purpose', 'and', 'high-level', 'a', 'is', 'Python']

In [65]:
# Given below is the height (in cm) of the top 10 students in a class. 
#Print the heights of the top 3 students from the given list.

heights = [177, 160, 171, 163, 168, 175, 176, 183, 162, 170]

h1 = sorted(heights)

print(h1[-1:-4:-1])

[183, 177, 176]

In [2]:
## Sort elements in List or array without using sort
my_list = [-15, -26, 15, 1, 23, -64, 23, 76]
new_list = []

while my_list:
    min = my_list[0]  
    for x in my_list: 
        if x < min:
            min = x
    new_list.append(min)
    my_list.remove(min)    

print(new_list)

[-64, -26, -15, 1, 15, 23, 23, 76]

In [4]:
## sorting the elements in desc order

my_list = [-15, -26, 15, 1, 23, -64, 23, 76]
new_list =[]

while my_list:
    max = my_list[0]
    for i in my_list:
        if i > max:
            max =i
    
    new_list.append(max)
    my_list.remove(max)
    
print(new_list)

[76, 23, 23, 15, 1, -15, -26, -64]

In [5]:
#Print the index of the letter 'h' from the string given below.

name = 'Python'
print(name.index('y'))

1

In [94]:
#Print the odd indexed elements from the list of colors given below.

myList = ['Red', 'Blue', 'Orange', 'White', 'Black', 'Yellow']

for i in range(len(myList)):
    if i % 2==1:
        print(myList[i])
        
# Another sol
myList[1::2]

Blue
White
Yellow

['Blue', 'White', 'Yellow']

In [6]:
##We have a list of numbers given below. Add the element '10' at the 3rd position of the list and finally print the list.

num_list = [5, 6, 8, 7, 9]
num_list.insert(3,10)
num_list

[5, 6, 8, 10, 7, 9]

In [101]:
##drop element at 3 position

num_list = [5, 6, 8, 7, 9]

num_list.pop(3)
num_list

[5, 6, 8, 9]

In [7]:
# Convert the list given below into a string using a comma as a separator argument.

myList = ['Lenovo', ' Dell', ' Acer', ' Asus', ' HP']


final = myList[0]
for i in range(1,len(myList)):
               final = final +","+ myList[i]
    
final

'Lenovo, Dell, Acer, Asus, HP'

In [123]:
#Reverse the integer given below.

n = 5623
s1 = str(n)
print(int(s1[::-1]))

3265

In [3]:
##We have two sets given below. Print the set of elements that are present in either set1 or set2 but not both.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}

final_set = set()

for i in set1 :
    if i not in final_set and i not in set2:
        final_set.add(i)
        
for i in set2:
    if i not in final_set and i not in set1:
        final_set.add(i)
        
final_set

{1, 2, 3, 6, 7}

In [4]:
##Print all the keys of the dictionary given below.

myDict = {1:'One', 2:'Two', 3:'Three'}

for i,j in myDict.items():
    print(i,j)
    
## For printing only keys

for i in myDict:
    print(i)

1 One
2 Two
3 Three
1
2
3

In [ ]:
#We have a dictionary given below. Delete the item with key '3,' and add an item with key '7' and value 'Black.'

color = {1:'Red', 2:'Orange', 3:'White', 4:'Brown', 5:'Yellow'}

In [17]:
# play with pandas

import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
s

# printing first 3 element


s[:3]

a    1
b    2
c    3
dtype: int64

In [39]:

import pandas as pd

# creating dataframe from list
data = [['Alex',10],['Bob',12],['Clarke',13]]

df = pd.DataFrame(data,columns=['Name','Age'])
#dir(df)


# creating dataframe from dict

data1 = {'Alex':10,'Bob':12,'clarke':12}
df1 = pd.DataFrame(data1,index =[1,2,3])
df1

   Alex  Bob  clarke
1    10   12      12
2    10   12      12
3    10   12      12

In [41]:
for i in range(10+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [44]:
def oddNumbers(l, r):
      li = []
      for i in range(r+1):
        if i > l:
            li.append(i)
            if l % 2 ==0:
               return li[0::2]
            else:
               return li[1::2]
        
result = oddNumbers(2, 5)
print(result)

0
1
2
3
[3]